body{
    background-color: #023047;
}

p{
    color: white;
    margin-bottom: 0;
}

.container{
    width: 85vw;
}

.center{
    text-align: center;
}

.top{
    display: flex;
    flex-direction: row;
}

.header{
    width: 15vw;
}

.contentBox{
    border: 1px solid #ebebeb;
    border-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.5rem;
    padding-bottom: 1.2rem;
}

.energy{
    margin-top: 2rem;
    margin-bottom: 10rem;
}